{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Training Management System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Training/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'Training/modulehandling.js' %}"></script> 
</head>
<body>
    <h1>Training Management System</h1>

    <header class="header">
        <div class="profile-box">
            {% if user.is_authenticated %}
                <div class="profile-info">
                    <img src="{% if user.profile.profile_pic %}{{ user.profile.profile_pic.url }}{% else %}{% static 'Training/images/trainingdefault image.png' %}{% endif %}" alt="Profile Picture">
                    <div class="profile-details">
                        <p>Signed in as, {{ user.username }}!</p>
                        <div>{{ user.profile.name }}</div>
                        <div>Staff Number: {{ user.profile.staffnumber }}</div>
                    </div>
                </div>
                <ul class="navlink">
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    <li><a href="{% url 'index' %}">Home</a></li>
                </ul>
            {% else %}
                <ul class="nav">
                    <li><a href="{% url 'login' %}?next={{ request.path }}">Log In</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            {% endif %}
            <nav class="navlink">
                <ul class="nav">
                    <li><a href="{% url 'training_module_list' %}">Training Modules</a></li>
                    <li><a href="{% url 'profile_Pic' %}">Add Profile Pic</a></li>
                    <li><a href="{% url 'update_profile' %}">Create Profile</a></li>
                    <li><a href="{% url 'training_module_create' %}">Create New Training Module</a></li>
                    <li><a href="{% url 'category_list' %}">Categories</a></li>
                    <li><a href="{% url 'trainee_progress' %}">Update progress</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <img src="{% static 'Training/images/footer logo.png' %}" alt="Footer Image">
            <p>&copy; 2024 Training Management System</p>
        </div>
    </footer>
</body>
</html>