<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    {% autoescape off %}
    Hi {{ user.username }},

    You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

    Please click the link below to reset your password:

    <a href="{{ protocol }}://special-space-robot-6977vq6wjg7h4ppp-8000.app.github.dev{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset your password</a>

    If you didn't request this, please ignore this email.

    Thanks,
    The {{ site_name }} team
    {% endautoescape %}
</body>
<!-- //{{ domain }} -->